.gradient-button-border {
  position: relative;
  transition: 0.3s ease-in-out all;
  z-index: -1;
  background: linear-gradient(60deg, #483bdc, #ffa8a9, #82d3a4);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.gradient-button-border:hover {
  background-color: #483bdc;
}

.gradient-button-border:hover::after {
  opacity: 0;
}

.gradient-button-border:after {
  position: absolute;
  background-color: #000000;
  z-index: -1;
  content: "";
  top: 2px;
  left: 2px;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border-radius: 100px;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rotate-text {
  position: absolute;
  transform-origin: 0 104px; /* 50% of the container height and width */
  font-size: 1rem;
  line-height: 1rem;
  top: 0;
}
