/* styles/gradient-button.css */
.bg-gradient-btn {
  background: linear-gradient(60deg, #483bdc, #ffa8a9, #82d3a4);
  background-size: 300% 300%;
}

.bg-gradient-btn:hover,
.bg-gradient-btn:focus-within,
.group:hover .bg-gradient-btn,
.group:focus-within .bg-gradient-btn {
  background: #6455ff;
}

.btn-animate-gradient {
  background: linear-gradient(90deg, #483bdc, #ffa8a9, #82d3a4);
  background-size: 100% 100%;
  animation: gradientAnimation 0.5s ease linear infinite;
  transition: transform 0.2s;
}

/* .btn-animate-gradient:hover {
  background: linear-gradient(270deg, #483bdc, #ffa8a9, #82d3a4);
} */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rotate-text {
  position: absolute;
  transform-origin: 0 104px; /* 50% of the container height and width */
  font-size: 1rem;
  line-height: 1rem;
  top: 0;
}
