.dark-text-gradient {
  background: linear-gradient(
    90deg,
    #676767 0.06%,
    #000 20.04%,
    #000 39.42%,
    #676767 59.7%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.lite-text-gradient {
  background: linear-gradient(
    90deg,
    #676767 24.89%,
    #909090 43.02%,
    #fff 52.64%,
    #676767 79.02%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero-text-gradient {
  background: linear-gradient(113deg, #ffb3b3, #e6a3e6, #b3b3ff, #a3a3e6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-text-o-gradient {
  background: linear-gradient(113deg, #ffb3b3, #e6a3e6, #b3b3ff, #a3a3e6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
