@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .containerX {
    @apply w-full max-w-[1920px] mx-auto px-4 sm:px-8 xl:px-16 2xl:px-28;
  }

  .label {
    @apply text-base text-neutral-800 font-medium;
  }

  .input {
    @apply w-full border border-neutral-300 p-3 bg-transparent rounded-lg outline-none focus:shadow-none focus:outline-none focus:ring-transparent;
  }

  .flex_center {
    @apply flex items-center justify-center;
  }

  .absolute_center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .animation_common {
    @apply transition-all duration-300 ease-in-out;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
