/* HOME */
/* HERO */
.home_hero_ideate_i {
  background: radial-gradient(
    76.36% 84.75% at 74.04% 8.33%,
    #f3bbad 0%,
    #f5b0ae 72.12%,
    #d3a2ce 99.52%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_ideate_d {
  background: linear-gradient(
    187deg,
    #eecca9 9.93%,
    #f5b1ae 52.62%,
    #d4a3cf 88.99%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_ideate_e {
  background: linear-gradient(
    180deg,
    #eadea7 5.73%,
    #f8a7b0 66.2%,
    #d4a3cf 89.18%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_ideate_a {
  background: linear-gradient(
    180deg,
    #e8e6a6 6.25%,
    #f8a7b0 60.56%,
    #d4a3cf 87.76%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_ideate_t {
  background: radial-gradient(
    150.76% 83.1% at 31.37% 8.33%,
    #ebdda8 6.9%,
    #f8a7b0 67.67%,
    #d4a3cf 99.52%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_ideate_e {
  background: radial-gradient(
    83.1% 91.25% at 25% 7.29%,
    #efc8aa 0%,
    #f8a7b0 72.69%,
    #d4a3cf 99.52%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_d {
  background: radial-gradient(
    366.11% 88.64% at 21.81% 10.42%,
    #b89fe8 0%,
    #af9dee 70.4%,
    #b49feb 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_e1 {
  background: radial-gradient(
    366.11% 88.64% at 21.81% 10.42%,
    #aa9df4 0%,
    #bc9fe3 70.4%,
    #c5a0db 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_v {
  background: radial-gradient(
    389.37% 86.74% at 21.81% 10.42%,
    #bca0e3 0%,
    #cfa2d3 70.4%,
    #d8a3ca 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_e2 {
  background: radial-gradient(
    389.37% 86.74% at 21.81% 10.42%,
    #d4a3d0 0%,
    #eda6b9 70.4%,
    #f8a7b0 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_l {
  background: radial-gradient(
    389.37% 86.74% at 21.81% 10.42%,
    #f5a6b3 0%,
    #f8a7b0 70.4%,
    #f8a7b0 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_o {
  background: linear-gradient(270deg, #d4a3cf 0%, #f8a7b0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_p {
  background: radial-gradient(
    625.79% 84.12% at 35.71% 89.58%,
    #cca1d5 1%,
    #d4a3cf 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_comma {
  background: radial-gradient(
    625.79% 84.12% at 35.71% 89.58%,
    #cca1d5 1%,
    #d4a3cf 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_d2 {
  background: radial-gradient(
    521.01% 103.8% at 88.33% 80.73%,
    #b09eee 0%,
    #cda2d6 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_e3 {
  background: radial-gradient(
    551.7% 106.55% at 87.5% 85.42%,
    #a69cf6 0.35%,
    #b39fec 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_p2 {
  background: radial-gradient(
    558.75% 107.68% at 87.5% 86.98%,
    #a79df7 0%,
    #a69cf6 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_l2 {
  background: radial-gradient(
    584.17% 89.96% at 56.67% 87.5%,
    #a79df7 0%,
    #a89ef8 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_o2 {
  background: radial-gradient(
    584.17% 89.96% at 56.67% 87.5%,
    #a79df7 0%,
    #a89ef8 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_y {
  background: radial-gradient(
    584.17% 89.96% at 56.67% 87.5%,
    #a79df7 0%,
    #a89ef8 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_develop_deploy_dot {
  background: radial-gradient(
    584.17% 89.96% at 56.67% 87.5%,
    #a79df7 0%,
    #a89ef8 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_succeed_s {
  background:
    linear-gradient(to bottom right, #ecabb7 0%, #e5a8be 24%, #f6aeae 48%)
      bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #ecabb7 0%, #e5a8be 24%, #f6aeae 48%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #ecabb7 0%, #e5a8be 24%, #f6aeae 48%) top
      left / 50% 50% no-repeat,
    linear-gradient(to top right, #ecabb7 0%, #e5a8be 24%, #f6aeae 48%) top
      right / 50% 50% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_succeed_u {
  background:
    linear-gradient(to bottom right, #d6a5ce 0%, #d8a4cb 24%, #e3a8bf 48%)
      bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #d6a5ce 0%, #d8a4cb 24%, #e3a8bf 48%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #d6a5ce 0%, #d8a4cb 24%, #e3a8bf 48%) top
      left / 50% 50% no-repeat,
    linear-gradient(to top right, #d6a5ce 0%, #d8a4cb 24%, #e3a8bf 48%) top
      right / 50% 50% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_succeed_c1 {
  background: radial-gradient(
    151.61% 93.91% at 26.53% 86.46%,
    #d8a6c6 0%,
    #dfacb5 65.96%,
    #d6a5c7 95.19%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_succeed_c2 {
  background:
    linear-gradient(to bottom right, #e1aead 0%, #e1aeb0 24%, #dcaaba 48%)
      bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #e1aead 0%, #e1aeb0 24%, #dcaaba 48%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #e1aead 0%, #e1aeb0 24%, #dcaaba 48%) top
      left / 50% 50% no-repeat,
    linear-gradient(to top right, #e1aead 0%, #e1aeb0 24%, #dcaaba 48%) top
      right / 50% 50% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_succeed_e1 {
  background:
    linear-gradient(to bottom right, #cba8ca 0%, #dcaaba 48%) bottom right / 50%
      50% no-repeat,
    linear-gradient(to bottom left, #cba8ca 0%, #dcaaba 48%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #cba8ca 0%, #dcaaba 48%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #cba8ca 0%, #dcaaba 48%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_succeed_e2 {
  background:
    linear-gradient(to bottom right, #cba8ca 0%, #dcaaba 48%) bottom right / 50%
      50% no-repeat,
    linear-gradient(to bottom left, #cba8ca 0%, #dcaaba 48%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #cba8ca 0%, #dcaaba 48%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #cba8ca 0%, #dcaaba 48%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_succeed_d {
  background:
    linear-gradient(to bottom right, #b5a1e4 0%, #c3a5d5 24%, #cfa9c3 48%)
      bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #b5a1e4 0%, #c3a5d5 24%, #cfa9c3 48%) bottom
      left / 50% 50% no-repeat,
    linear-gradient(to top left, #b5a1e4 0%, #c3a5d5 24%, #cfa9c3 48%) top
      left / 50% 50% no-repeat,
    linear-gradient(to top right, #b5a1e4 0%, #c3a5d5 24%, #cfa9c3 48%) top
      right / 50% 50% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_hero_succeed_exclamation {
  background:
    linear-gradient(to bottom right, #a99df3 0%, #b09feb 48%) bottom right / 50%
      50% no-repeat,
    linear-gradient(to bottom left, #a99df3 0%, #b09feb 48%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #a99df3 0%, #b09feb 48%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #a99df3 0%, #b09feb 48%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_projects_header {
  background: linear-gradient(
    91deg,
    #676767 14.11%,
    #909090 37.39%,
    #fff 52.7%,
    #676767 83.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_services_header {
  background: linear-gradient(
    90deg,
    #676767 0.06%,
    #000 20.04%,
    #000 39.42%,
    #676767 59.7%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_products_header {
  background: linear-gradient(
    90deg,
    #676767 24.89%,
    #909090 43.02%,
    #fff 52.64%,
    #676767 79.02%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_pricing_header {
  background: linear-gradient(
    90deg,
    #676767 0.06%,
    #fff 20.04%,
    #fff 39.42%,
    #676767 59.7%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_testimonial_header {
  background: linear-gradient(90deg, #000 0.06%, #929292 20.04%, #292929 59.7%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_statistics_header {
  background: linear-gradient(
    90deg,
    #676767 0.06%,
    #fff 20.04%,
    #fff 39.42%,
    #676767 59.7%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_statistics_header_v2 {
  background: linear-gradient(164deg, #fff 11.44%, #86c9ff 63.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_team_header {
  background: linear-gradient(
    90deg,
    #676767 12.05%,
    #676767 35.72%,
    #000 53.18%,
    #676767 68.21%,
    #676767 89.06%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_faq_header {
  background: linear-gradient(
    90deg,
    #676767 0.06%,
    #fff 20.04%,
    #fff 39.42%,
    #676767 59.7%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_journal_header {
  background: linear-gradient(
    90deg,
    #676767 12.05%,
    #676767 35.72%,
    #000 53.18%,
    #676767 68.21%,
    #676767 89.06%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_journal_header_v2 {
  color: var(--text-900-black-high-emp, #000);
  text-align: center;
  font-feature-settings:
    "liga" off,
    "clig" off;

}

/* SERVICES */
.services_header {
  background: linear-gradient(
    91deg,
    #1d1d1d 14.11%,
    #909090 37.39%,
    #9b9b9b 52.7%,
    #3c3c3c 83.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services_our_core_strengths_header {
  background: linear-gradient(
    90deg,
    #676767 0.06%,
    #fff 20.04%,
    #fff 39.42%,
    #676767 59.7%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services_client_weve_served_header {
  background: linear-gradient(
    91deg,
    #1d1d1d 33.69%,
    #909090 43.81%,
    #9b9b9b 50.47%,
    #3c3c3c 63.91%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service_details_header {
  background: linear-gradient(
    90deg,
    #1d1d1d 29.6%,
    #909090 40.42%,
    #9b9b9b 47.54%,
    #3c3c3c 61.9%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

/* OUR PROJECTS */
.our_projects_header {
  background: linear-gradient(
    91deg,
    #1d1d1d 14.11%,
    #909090 37.39%,
    #9b9b9b 52.7%,
    #3c3c3c 83.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: fit-content;
}

/* ABOUT US */
.about_us_othe_story {
  background: linear-gradient(
    91deg,
    #1d1d1d 14.11%,
    #909090 37.39%,
    #9b9b9b 52.7%,
    #3c3c3c 83.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_what_maked_different {
  background: linear-gradient(
    90deg,
    #676767 0.06%,
    #fff 20.04%,
    #fff 39.42%,
    #676767 59.7%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* JOURNAL */
.journal_suggestions_header {
  background: var(
    --Text-Text-Black,
    linear-gradient(90deg, #000 1.22%, #7b7b7b 50.61%, #000 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PORTFOLIO DETAILS */
.portfolio_details_explore_more_products_header {
  background: var(
    --Text-Text-Black,
    linear-gradient(90deg, #000 1.22%, #7b7b7b 50.61%, #000 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio_details_header {
  background: linear-gradient(90deg, #000 0%, #757575 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio_details_key_preview {
  background: linear-gradient(
    91deg,
    #676767 14.11%,
    #909090 37.39%,
    #fff 52.7%,
    #676767 83.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio_discover_more_insights_header {
  background: linear-gradient(
    91deg,
    #676767 14.25%,
    #909090 36.66%,
    #d8d8d8 51.4%,
    #676767 81.15%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
